{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card-grey card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">

                      <span class="h2 font-weight-bold mb-0">Upload file</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-upload text-white rounded-circle shadow">
                        <i class="ni ni-cloud-upload-96"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-6">
              <div class="card-transparent card-stats mb-4 mb-xl-0">
                <div class="card-body-transparent">
                  <div class="row">
                    
                    <div class="col-auto">
                      <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                        <i class="ni ni-bold-right"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">Customize</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-customize text-white rounded-circle shadow">
                        <i class="ni ni-ui-04"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-6">
              <div class="card-transparent card-stats mb-4 mb-xl-0">
                <div class="card-body-transparent">
                  <div class="row">
                    
                    <div class="col-auto">
                      <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                        <i class="ni ni-bold-right"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            {% if list_smells %}
            <div class="col-xl-3 col-lg-6">
              <a href="/results.html">
              <div class="card-next card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">Results</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-results text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a> 
            </div>
            {% else %}

            <div class="col-xl-3 col-lg-6">
              <div class="card-grey card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">Results</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-results text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Customize your detection</h3>
            </div>
            <div class="card-body">
              <form id="test" method="post" enctype="multipart/form-data">
                {% csrf_token %}

              <div class="table-responsive" style="overflow: auto;">
                <div>
                <h4>Choose the type(s) of data smell that sould be detected</h4><br>

                {% if list_smells  %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                  <span class="alert-inner--text"><strong>Success!</strong><br>Successfully selected the following smells: {{ list_smells }}<br> Successfully selected the following columns: {{ list_columns }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <a href="/results.html">
                  <div style="text-align: right;">
                    <div class="btn btn-primary">
                        Next Step
                    </div>
                  </div>
                </a>
              {% elif message %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-inner--icon"><i class="ni ni-fat-delete"></i></span>
                <span class="alert-inner--text"><strong></strong><br>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}

                <br>
                <table class="table align-items-center">
                    {% for key, value in forms.items %}
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                {{key}}
                            </th>
                            {% for v, parameters in value.items %}
                            <th scope="col">
                            </th>
                            
                            {% endfor %}
                            
                        </tr>
                    </thead>
                    <tbody class="list">
                        
                        <tr>
                          {% for v, parameters in value.items %}
                            <td scope="row" class="name">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">
                                          <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id={{v}} type="checkbox" value={{v}} name="smells"/>
                                            <label class="custom-control-label" for={{v}}>{{ v.value }}</label>
                                          </div>
                                          {% for name, parameter in parameters.items %}
                                          {{name}}: {{parameter.value}}
                                          <br>
                                          {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </td>
                          {% endfor %}  
                            
                        </tr>
                        
                        
                    </tbody>
                    {% endfor %}
                </table>
                <br><br><h4 id="here">Choose the columns which should be detected</h4><br>
                <table class="table align-items-center">
                  <tbody class="list">
                      <tr>
                        {% for c in column_names %}
                          <th scope="row" class="name">
                              <div class="media align-items-center">
                                  <div class="media-body">
                                      <span class="mb-0 text-sm">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id={{c}} type="checkbox" value={{c}} name="columns"/>
                                          <label class="custom-control-label" for={{c}}>{{ c }}</label>
                                        </div>
                                      </span>
                                  </div>
                              </div>
                          </th>
                        {% endfor %}
                      </tr>
                    </tbody>
                </table>
              
            </div>
          
            <br>
            </div>
            <br>
            {% if list_smells  %}
            {% elif message %}
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Customize</button>
            {% else %}
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Customize</button>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Customization</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want the chosen parameters?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button name="del" type="submit" class="btn btn-primary">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
            </div>
          </div>
        </div>
      </div>
      

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
