{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Upload a .csv file to detect data smells</h3>
            </div>
            <div class="card-body">
              <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            

<h1 id="index">Index</h1>

<div class="genindex-jumpbox">
 <a href="#_"><strong>_</strong></a>
 | <a href="#A"><strong>A</strong></a>
 | <a href="#C"><strong>C</strong></a>
 | <a href="#D"><strong>D</strong></a>
 | <a href="#E"><strong>E</strong></a>
 | <a href="#F"><strong>F</strong></a>
 | <a href="#G"><strong>G</strong></a>
 | <a href="#H"><strong>H</strong></a>
 | <a href="#I"><strong>I</strong></a>
 | <a href="#L"><strong>L</strong></a>
 | <a href="#M"><strong>M</strong></a>
 | <a href="#N"><strong>N</strong></a>
 | <a href="#P"><strong>P</strong></a>
 | <a href="#R"><strong>R</strong></a>
 | <a href="#S"><strong>S</strong></a>
 | <a href="#T"><strong>T</strong></a>
 | <a href="#U"><strong>U</strong></a>
 | <a href="#V"><strong>V</strong></a>
 
</div>
<h2 id="_">_</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/index.html#datasmelldetection.__version__">__version__ (in module datasmelldetection)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="A">A</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.ABBREVIATION_INCONSISTENCY_SMELL">ABBREVIATION_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.AMBIGUOUS_DATE_TIME_FORMAT_SMELL">AMBIGUOUS_DATE_TIME_FORMAT_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.AMBIGUOUS_VALUE_SMELL">AMBIGUOUS_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="C">C</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.CASING_INCONSISTENCY_SMELL">CASING_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.CASING_SMELL">CASING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.CLASS_INCONSISTENCY_SMELL">CLASS_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionResult.column_name">column_name (datasmelldetection.core.detector.DetectionResult attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.Configuration.column_names">column_names (datasmelldetection.core.detector.Configuration attribute)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.ConfigurableDetector">ConfigurableDetector (class in datasmelldetection.core.detector)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.Configuration">Configuration (class in datasmelldetection.core.detector)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.ConfigurableDetector.configuration">configuration() (datasmelldetection.core.detector.ConfigurableDetector property)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.CONTRACTING_SMELL">CONTRACTING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="D">D</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionResult.data_smell_type">data_smell_type (datasmelldetection.core.detector.DetectionResult attribute)</a>
</li>
      <li>
    datasmelldetection

      <ul>
        <li><a href="autoapi/datasmelldetection/index.html#module-datasmelldetection">module</a>
</li>
      </ul></li>
      <li>
    datasmelldetection._version

      <ul>
        <li><a href="autoapi/datasmelldetection/_version/index.html#module-datasmelldetection._version">module</a>
</li>
      </ul></li>
      <li>
    datasmelldetection.core

      <ul>
        <li><a href="autoapi/datasmelldetection/core/index.html#module-datasmelldetection.core">module</a>
</li>
      </ul></li>
      <li>
    datasmelldetection.core.datasmells

      <ul>
        <li><a href="smells.html#module-datasmelldetection.core.datasmells">module</a>
</li>
      </ul></li>
      <li>
    datasmelldetection.core.detector

      <ul>
        <li><a href="autoapi/datasmelldetection/core/detector/index.html#module-datasmelldetection.core.detector">module</a>
</li>
      </ul></li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType">DataSmellType (class in datasmelldetection.core.datasmells)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DATE_AS_DATE_TIME_SMELL">DATE_AS_DATE_TIME_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DATE_AS_STRING_SMELL">DATE_AS_STRING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DATE_TIME_AS_STRING_SMELL">DATE_TIME_AS_STRING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DATE_TIME_FORMAT_INCONSISTENCY_SMELL">DATE_TIME_FORMAT_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.Detector.detect">detect() (datasmelldetection.core.detector.Detector method)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionResult">DetectionResult (class in datasmelldetection.core.detector)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionStatistics">DetectionStatistics (class in datasmelldetection.core.detector)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.Detector">Detector (class in datasmelldetection.core.detector)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DUMMY_VALUE_SMELL">DUMMY_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.DUPLICATED_VALUE_SMELL">DUPLICATED_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="E">E</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.EXTRANEOUS_VALUE_SMELL">EXTRANEOUS_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.EXTREME_VALUE_SMELL">EXTREME_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="F">F</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionStatistics.faulty_element_count">faulty_element_count (datasmelldetection.core.detector.DetectionStatistics attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionResult.faulty_elements">faulty_elements (datasmelldetection.core.detector.DetectionResult attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.FLOATING_POINT_NUMBER_AS_STRING_SMELL">FLOATING_POINT_NUMBER_AS_STRING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="G">G</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.get_config">get_config() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.get_keywords">get_keywords() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.Detector.get_supported_data_smell_types">get_supported_data_smell_types() (datasmelldetection.core.detector.Detector method)</a>
</li>
      <li><a href="autoapi/datasmelldetection/index.html#datasmelldetection.get_versions">get_versions() (in module datasmelldetection)</a>

      <ul>
        <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.get_versions">(in module datasmelldetection._version)</a>
</li>
      </ul></li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.git_get_keywords">git_get_keywords() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.git_pieces_from_vcs">git_pieces_from_vcs() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.git_versions_from_keywords">git_versions_from_keywords() (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="H">H</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.HANDLERS">HANDLERS (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="I">I</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.INTEGER_AS_FLOATING_POINT_NUMBER_SMELL">INTEGER_AS_FLOATING_POINT_NUMBER_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.INTEGER_AS_STRING_SMELL">INTEGER_AS_STRING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.INTERMINGLED_DATA_TYPE_SMELL">INTERMINGLED_DATA_TYPE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="L">L</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.LONG_DATA_VALUE_SMELL">LONG_DATA_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.LONG_VERSION_PY">LONG_VERSION_PY (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="M">M</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.MEANINGLESS_VALUE_SMELL">MEANINGLESS_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.MISSING_VALUE_INCONSISTENCY_SMELL">MISSING_VALUE_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.MISSING_VALUE_SMELL">MISSING_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.MISSPELLING_SMELL">MISSPELLING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li>
    module

      <ul>
        <li><a href="autoapi/datasmelldetection/index.html#module-datasmelldetection">datasmelldetection</a>
</li>
        <li><a href="autoapi/datasmelldetection/_version/index.html#module-datasmelldetection._version">datasmelldetection._version</a>
</li>
        <li><a href="autoapi/datasmelldetection/core/index.html#module-datasmelldetection.core">datasmelldetection.core</a>
</li>
        <li><a href="smells.html#module-datasmelldetection.core.datasmells">datasmelldetection.core.datasmells</a>
</li>
        <li><a href="autoapi/datasmelldetection/core/detector/index.html#module-datasmelldetection.core.detector">datasmelldetection.core.detector</a>
</li>
      </ul></li>
  </ul></td>
</tr></table>

<h2 id="N">N</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.NotThisMethod">NotThisMethod</a>
</li>
  </ul></td>
</tr></table>

<h2 id="P">P</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.plus_or_dot">plus_or_dot() (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="R">R</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.register_vcs_handler">register_vcs_handler() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render">render() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_git_describe">render_git_describe() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_git_describe_long">render_git_describe_long() (in module datasmelldetection._version)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_pep440">render_pep440() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_pep440_old">render_pep440_old() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_pep440_post">render_pep440_post() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.render_pep440_pre">render_pep440_pre() (in module datasmelldetection._version)</a>
</li>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.run_command">run_command() (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="S">S</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SEPARATING_INCONSISTENCY_SMELL">SEPARATING_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SEPARATING_SMELL">SEPARATING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SPACING_INCONSISTENCY_SMELL">SPACING_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SPACING_SMELL">SPACING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SPECIAL_CHARACTER_INCONSISTENCY_SMELL">SPECIAL_CHARACTER_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SPECIAL_CHARACTER_SMELL">SPECIAL_CHARACTER_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionResult.statistics">statistics (datasmelldetection.core.detector.DetectionResult attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_CHARACTER_ENCODING_SMELL">SUSPECT_CHARACTER_ENCODING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_CLASS_VALUE_SMELL">SUSPECT_CLASS_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_DATE_TIME_INTERVAL_SMELL">SUSPECT_DATE_TIME_INTERVAL_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_DATE_VALUE_SMELL">SUSPECT_DATE_VALUE_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_DISTRIBUTION_SMELL">SUSPECT_DISTRIBUTION_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SUSPECT_SIGN_SMELL">SUSPECT_SIGN_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SYNONYM_SMELL">SYNONYM_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.SYNTAX_INCONSISTENCY_SMELL">SYNTAX_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="T">T</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.TAGGING_SMELL">TAGGING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.TIME_AS_STRING_SMELL">TIME_AS_STRING_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/core/detector/index.html#datasmelldetection.core.detector.DetectionStatistics.total_element_count">total_element_count (datasmelldetection.core.detector.DetectionStatistics attribute)</a>
</li>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.TRANSPOSITION_INCONSISTENCY_SMELL">TRANSPOSITION_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="U">U</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="smells.html#datasmelldetection.core.datasmells.DataSmellType.UNIT_INCONSISTENCY_SMELL">UNIT_INCONSISTENCY_SMELL (datasmelldetection.core.datasmells.DataSmellType attribute)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="V">V</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.VersioneerConfig">VersioneerConfig (class in datasmelldetection._version)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="autoapi/datasmelldetection/_version/index.html#datasmelldetection._version.versions_from_parentdir">versions_from_parentdir() (in module datasmelldetection._version)</a>
</li>
  </ul></td>
</tr></table>



          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="index.html">datasmelldetection</a></h1>








<h3>Navigation</h3>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="index.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>








        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      &copy;2021, Martin Kerschbaumer.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 3.3.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
