{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card-grey card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">

                      <span class="h2 font-weight-bold mb-0">Upload file</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-upload text-white rounded-circle shadow">
                        <i class="ni ni-cloud-upload-96"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-6">
              <div class="card-transparent card-stats mb-4 mb-xl-0">
                <div class="card-body-transparent">
                  <div class="row">
                    
                    <div class="col-auto">
                      <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                        <i class="ni ni-bold-right"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-lg-6">
              <div class="card-grey card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">Customize</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-customize text-white rounded-circle shadow">
                        <i class="ni ni-ui-04"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-1 col-lg-6">
              <div class="card-transparent card-stats mb-4 mb-xl-0">
                <div class="card-body-transparent">
                  <div class="row">
                    
                    <div class="col-auto">
                      <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                        <i class="ni ni-bold-right"></i>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <span class="h2 font-weight-bold mb-0">Results</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-results text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Smell Results By Column Names</h3>
            </div>
            <div class="card-body">
              {% for f, smells in results.items %}
              <h2>{{ f }}</h2><br>
                {% for column, smell in smells.items %}
                Column - {{ column.column_name }}<br><br>
                    <div class="table-responsive">
                      <div>
                        <table class="table align-items-center">
                          {% if smell %}
                          <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    Data Smell Type
                                </th>
                                <th scope="col">
                                    Total Element Count
                                </th>
                                <th scope="col">
                                    Faulty Element Count
                                </th>
                            </tr>
                          </thead>
                          {% for s in smell%}
                          <tbody class="list">
                            <tr>
                              <td class="type">
                                {{ s.data_smell_type }}
                              </td>
                              <td class="total">
                                {{ s.total_element_count }}
                              </td>
                              <td class="faulty">
                                {{ s.faulty_element_count }}
                              </td>
                            </tr>
                          </tbody> 
                          {% endfor %}
                          {% else %}
                          <p class="description">There are no smells for this column.</p>
                          {% endif %}
                        </table>
                      </div>
                    </div>
                    <br>
                {% endfor %}  

                  
              <br><br>
              <hr>
              {% endfor %}    
              
          </div>
        </div>
      </div>
      

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
