{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
           
            <div class="card-body">
              <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="module-datasmelldetection">
<span id="datasmelldetection"></span><h1><a class="reference internal" href="#module-datasmelldetection" title="datasmelldetection"><code class="xref py py-mod docutils literal notranslate"><span class="pre">datasmelldetection</span></code></a><a class="headerlink" href="#module-datasmelldetection" title="Permalink to this headline">¶</a></h1>
<div class="section" id="subpackages">
<h2>Subpackages<a class="headerlink" href="#subpackages" title="Permalink to this headline">¶</a></h2>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="core/index.html"><code class="xref py py-mod docutils literal notranslate"><span class="pre">datasmelldetection.core</span></code></a><ul>
<li class="toctree-l2"><a class="reference internal" href="core/datasmells/index.html"><code class="xref py py-mod docutils literal notranslate"><span class="pre">datasmelldetection.core.datasmells</span></code></a></li>
<li class="toctree-l2"><a class="reference internal" href="core/detector/index.html"><code class="xref py py-mod docutils literal notranslate"><span class="pre">datasmelldetection.core.detector</span></code></a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="_version/index.html"><code class="xref py py-mod docutils literal notranslate"><span class="pre">datasmelldetection._version</span></code></a></li>
</ul>
</div>
</div>
<div class="section" id="package-contents">
<h2>Package Contents<a class="headerlink" href="#package-contents" title="Permalink to this headline">¶</a></h2>
<div class="section" id="functions">
<h3>Functions<a class="headerlink" href="#functions" title="Permalink to this headline">¶</a></h3>
<table class="longtable docutils align-default">
<colgroup>
<col style="width: 10%" />
<col style="width: 90%" />
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="#datasmelldetection.get_versions" title="datasmelldetection.get_versions"><code class="xref py py-obj docutils literal notranslate"><span class="pre">get_versions</span></code></a>()</p></td>
<td><p>Get version information or return default if unable to do so.</p></td>
</tr>
</tbody>
</table>
<dl class="py function">
<dt id="datasmelldetection.get_versions">
<code class="sig-prename descclassname">datasmelldetection.</code><code class="sig-name descname">get_versions</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#datasmelldetection.get_versions" title="Permalink to this definition">¶</a></dt>
<dd><p>Get version information or return default if unable to do so.</p>
</dd></dl>

<dl class="py data">
<dt id="datasmelldetection.__version__">
<code class="sig-prename descclassname">datasmelldetection.</code><code class="sig-name descname">__version__</code><a class="headerlink" href="#datasmelldetection.__version__" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
</div>
</div>


          </div>
          
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../documentation.html">datasmelldetection</a></h1>








<h3>Navigation</h3>

<div class="relations">
<h3>Related Topics</h3>
<ul>
  <li><a href="../../documentation.html">Documentation overview</a><ul>
  </ul></li>
</ul>
</div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>


</div>
</div>
<div class="clearer"></div>
</div>
<div class="footer">
&copy;2021, Martin Kerschbaumer.

|
Powered by <a href="http://sphinx-doc.org/">Sphinx 3.3.1</a>
&amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>

</div>
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}